@font-face {
  font-family: VCR;
  src: url('VCR_OSD_MONO_1.001.ttf');
}

body {
  background: #131313;
  color: #fff;
  overflow: hidden;
  margin: 0 25px;
}

.killers-list {
  font-family: VCR;
  text-transform: uppercase;
}

.killers-list p {
  margin: 8px 0 0;
}
